<h4>{{addFormTitle}}</h4>
<form
  class="row"
  (ngSubmit)="emitHero()"
>
  <input
    name="{{inputHeroNameName}}"
    type="text"
    placeholder="{{inputHeroNamePlaceholder}}"
    class="from-control mb-2"
    [(ngModel)]="inputHero.name"
  >
  <input
    name="{{inputHeroPowerName}}"
    type="number"
    placeholder="{{inputHeroPowerPlaceholder}}"
    class="from-control mb-2"
    [(ngModel)]="inputHero.power"
  >
  <button
    type="submit"
    class="btn btn-primary"
  >
    {{addButtonText}}
  </button>
</form>
